/*//     * за допомоги стилів, побудувати сітку по 2 об'єкта в лінію*/
/*//     **/
/*//     * *!*/

.users-box {
    background: #4c9d7f;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user-block {
    background: linear-gradient(90deg, silver, white, silver);
    width: 40%;
    height: 450px;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.address-block {
    background: #76c0a4;
    height: 40%;
    text-align: justify;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}